<html>
  <head>
    <title>Registro</title>
  </head>

  <body>
    <div class="logo">
      <a
        href="/"
        class="svg-logo signupBasicHeader"
        data-uia="netflix-header-svg-logo"
      >
        <svg
          viewBox="0 0 111 30"
          class="svg-icon svg-icon-netflix-logo"
          focusable="true"
        >
        </svg>
      </a>
    </div>
    <div class="bg__img">
      <div class="login__container">
        <form  [formGroup]="registroForm" (ngSubmit)="registrar()">
        <div class="signin__main__block">
          <div class="signin__title">Registro</div>
          <div class="input__row">
            <div class="input__row">
              <input
                class="input__cls"
                type="text"
                name="nombre"
                id="nombre"
                formControlName="nombre"
                placeholder="Nombre"
              />
            </div>
            <div class="input__row">
              <input
                class="input__cls"
                type="text"
                name="apellido"
                id="apellido"
                formControlName="apellido"
                placeholder="Apellido"
              />
            </div>
            <input
              class="input__cls"
              type="text"
              name="eph"
              id="eph"
              formControlName="user"
              placeholder="Nombre de usuario"
            />
          </div>
          <div class="input__row">
            <input
              class="input__cls"
              type="password"
              name="password"
              id="password"
              formControlName="pass"
              placeholder="Contaseña"
            />
          </div>
          <div class="input__row">
            <input
              class="input__cls"
              type="password"
              name="password"
              id="password"
              formControlName="repetirPass"
              placeholder="Repetir contaseña"
            />
          </div>
          <div class="btn__container">
            <button type="submit" class="signin__btn">Registrarme</button>
          </div>
          <div class="remember__sec">

             <span class="help"><a href="notfound.html">Necesitás ayuda?</a></span>
          </div>

          <div class="fb__login__sec">
            <img
              src="https://assets.nflxext.com/ffe/siteui/login/images/FB-f-Logo__blue_57.png"
            />
            <span>Iniciá sesión con facebook</span>
          </div>

          <div class="new__user">
           Ya tenés una cuenta?
           <a [routerLink]="['/login']">Iniciar Sesión</a>
          </div>

        </div>
      </form>
      </div>
      <app-footer></app-footer>
    </div>
  </body>
</html>
